body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #c5c4c4;
    height: 100vh;
    font-family: var(--font);
}

.formulario {
    position: absolute;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.formulario h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.correo,
.username,
.password {
    position: relative;
    margin-bottom: 30px;
}

.correo input,
.username input,
.password input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background: transparent;
    font-size: 16px;
}

.correo label,
.username label,
.password label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: #ccc;
    transition: all 0.5s ease;
    pointer-events: none;
}

.correo input:focus+label,
.username input:focus+label,
.password input:focus+label,
.correo input:valid+label,
.username input:valid+label,
.password input:valid+label {
    top: -15px;
    font-size: 12px;
    color: #2691d9;
}

.correo input:focus,
.username input:focus,
.password input:focus {
    border-bottom-color: #2691d9;
}

.formulario input[type="submit"] {
    background-color: #6d6d6d;
    transform: translateY(-3px);
    background: #333;
    border-radius: 25px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    outline: none;

}
